body {
  font-size: 18px;
  font-family: 'Source sans pro', sans-serif;
  background-color: #fff;
  color: #282B28;
}
h1 {
  font-family: 'Source sans pro', sans-serif;
  font-weight: bold;
  font-size: 2.75rem;
  margin: 8px 0;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 8px 0;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 16px 0;
}
h5 {
  margin: 8px 0;
}
p {
  font-family: 'Dosis', sans-serif;
  margin: 6px 0;
  line-height: 1.8rem;
}
a {
text-decoration: none;
color: rgb(100, 100, 100);
}
video {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.grey {
  background-color: #A9ACA9;
}
.grey_font {
  color: #939196;
}

/* Menu Section */

.menu {
  display: flex;
  justify-content: space-between;
  height: 3.55rem;
}
.logobox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.333rem;
  /* height: 1.777rem; */
}
.logobox img {
  margin-right: 0.5rem;
}
.uppercase {
  text-transform: uppercase;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}
.links {
  padding: 0 8px;
}

/* Header Section */

header {
  width: 100%;
  background-color: lightgrey;
  display: flex;
}
.col_a {
width: 60%;
height: auto;
padding: 32px 24px;
}
.col_a img {
  max-width:100%;
  height: auto;

}
header .col_b {
  padding-right: 80px;
  justify-content: center;
}
.col_b {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.start {
  border-radius: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 12px 0;
  padding: 8px;
  width: 350px;
  background-color: #282B28;;
  color: #f0f0f0;
  border: 0px
}
.start:hover {
  background-color: #886f68;;
  color: #fff;
}
.col_b a {
  transition: all 0.75s linear;
}
.start h6 {
  text-align: center;
}

/* Infoz Section */

.infoz {
  display: flex;
}
.infoz .col_a {
  border-right: 0.25px solid lightgrey;
  border-width: thin;
}
.infobox {
  display: flex;
  width: 100%;
  height: 25%;
}
.infobox img {
  display: block;
  width: 35%;
  height: auto;
  margin: 16px;
}
.infobox a {
  color: #628395;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 12px;
}

/* Courses Section */

.courses {
  background-color: lightgrey;
  padding: 32px 56px;
}
.courses h1 {
  text-align: center;
  margin-bottom: 16px;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.course_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 16px;
  width: 30%;
}
.course_card img {
  width: 100%;
  height: auto;
}
.description {
  margin: 16px 24px;
}

/* Thesis Section */

.thesis_contain {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.thesis h1 {
  text-align: center;
  margin-top: 32px;
}
.urban {
  margin-top: 8px;
}
.thesis_contain .col_b {
  justify-content: flex-start;
  padding-top: 32px;
}
.info_thesis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}
.thesis_contain .infobox {
  width: 100%;
  height: 35%;
}

.thesis_contain img {
  display: block;
  width: 35%;
  height: auto;
  margin: 16px;
}

/* Footer Section */
footer {
  padding-top: 16px;
  margin-bottom: 48px;
  border-top: 0.5px solid #939196;
  border-width: thin;
  font-size: 16px;
}
.copyright {
  display: flex;
  justify-content: space-between

}
.copyright span {
  margin-left: 24px;

}
.copyright .links {
  margin-right: 16px;
}
.copyright a {
  padding: 0 8px;
}
